<!DOCTYPE html>
<html>
<head>
  <title>Treccos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- o render renderiza um partial que são arquivos com underscore. Ex da linha de baixo: _header.html.erb-->
<%= render "layouts/header" %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
